/* Ogólne ustawienia */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #add8e6, #0000ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Styl belki na górze */
.navbar {
    background-color: #000080;
    padding: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

/* Główne białe okno na środku */
.center-box {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Styl formularza */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


input[type="text"], input[type="ime_nazwisko"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}


/* Pola tekstowe */
input[type="email"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

input::placeholder {
    color: #aaa;
}

input:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff;
}

/* Przycisk logowania */
button.login-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.login-btn:hover {
    background-color: #0056b3;
}

/* Przycisk rejestracji */
button.register-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745; /* Zielony */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.register-btn:hover {
    background-color: #218838; /* Ciemniejszy zielony na hover */
}

#flash-messages {
    position: relative;
    margin-top: 10px;
    text-align: center;
    z-index: 1000;
    width: 90%;
    max-width: 500px;
}

.flash-success {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin: 5px auto;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}

.flash-error {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin: 5px auto;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}