<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="navbar">
        <h1>Panel użytkownika</h1>
    </div>
    <div class="center-box">
        <h2>Witaj, <%= user.first_name %>!</h2>
    </div>
</body>
</html>
