<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gra Edukacyjna</title>
    <link rel="stylesheet" href="gamestyles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar"></div>
        <div class="square"></div>
        <div class="sidebar"></div>
    </div>
</body>
</html>