<div class="menu" id="menu">
    <button onclick="window.location.href='/account-settings'">Ustawienia konta</button>
    <button onclick="window.location.href='/privacy-policy'">Polityka prywatności</button>
    <button onclick="window.location.href='/qa'">Q&A</button>
    <button onclick="window.location.href='/logout'">Wyloguj się</button>
</div>